<p-panel *ngIf="user$ | async as user">
  <div *ngIf="loading$ | async as loading">
    <div
      *ngFor="let skeleton of skeletons"
      class="border-round border-1 surface-border p-3 surface-card mb-1 flex"
    >
      <p-skeleton size="2rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton width="35rem" height="2rem"></p-skeleton>

      <div class="flex flex-row justify-content-between ml-auto">
        <p-skeleton size="2rem" styleClass="mx-2"></p-skeleton>
        <p-skeleton size="2rem" styleClass="mr-2"></p-skeleton>
      </div>
    </div>
  </div>
  <ng-template pTemplate="header">
    <div class="flex-grow-1 flex align-items-center justify-content-between">
      <div class="flex align-items-center gap-3">
        <h3>Todos</h3>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText (input)="onSearch($event)" />
        </span>
      </div>

      <a [routerLink]="[{ outlets: { modal: ['add-todo'] } }]">
        <p-button label="Add" icon="pi pi-plus" />
      </a>
    </div>
  </ng-template>
  <p-dataView *ngIf="todos$ | async as todos" [value]="todos">
    <ng-template let-todo pTemplate="listItem">
      <div pFocusTrap class="col-12 flex align-items-center gap-2">
        <p-checkbox
          *ngIf="completedTodosIds$ | async as completedTodosIds"
          [value]="todo.id"
          [ngModel]="completedTodosIds"
          (onChange)="onCheck(todo)"
        />

        <input
          #todoInput
          pInputText
          [id]="'edit-todo:' + todo.id"
          type="text"
          class="flex-grow-1"
          [ngClass]="{ 'line-through': todo.completed }"
          [value]="todo.title"
          (blur)="onBlur(todo)"
          (input)="updatedTitle = $any($event.target).value"
          (focus)="updatedTitle = todo.title"
          (keypress)="onKeypress(todo, $event)"
          [disabled]="todo.completed"
        />

        <div class="flex align-items-center">
          <p-button
            (onClick)="todoInput.focus()"
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            [disabled]="todo.completed"
          />

          <p-button
            (onClick)="onDelete(todo)"
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="danger"
          />
        </div>
      </div>
    </ng-template>
  </p-dataView>
</p-panel>

<router-outlet name="modal" />
