<p-toolbar>
  <div class="p-toolbar-group-start gsb-layout">
    <div class="flex flex-row align-items-center">
      <!-- <p-menu #menu [model]="items" [popup]="true"></p-menu>
            <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-th-large"></button> -->
      <p-overlayPanel #op [dismissable]="true">
        <ng-template pTemplate>
          <div class="flex flex-column">
            <p-button [link]="true">Light Mode</p-button>
            <p-button class="w-full" [link]="true" (onClick)="logout()">Logout</p-button>
          </div>
        </ng-template>
      </p-overlayPanel>
      <p-button
        (click)="op.toggle($event)"
        icon="pi pi-th-large"
        size="large"
        class="pr-3"
        [outlined]="true"
      >
      </p-button>
      <div>
        <h1>ASTRO Sample App</h1>
        <div
          *ngIf="user$ | async as user"
          class="flex pt-1 align-items-center gap-2"
        >
          <span class="bg-cyan-600 py-1 px-2 border-round">Demo</span
          >{{ user.name }}
        </div>
      </div>
    </div>
  </div>
</p-toolbar>
