<p-toolbar>
    <div class="p-toolbar-group-start gsb-layout ">
        <div class="flex flex-row align-items-center">
            <p-menu #menu [model]="items" [popup]="true"></p-menu>
            <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-th-large"></button>
            <!-- <p-overlayPanel #op>
                <p>Whatup bitches</p>
            </p-overlayPanel> -->
            <!-- <p-button (click)="op.toggle($event)" icon="pi pi-th-large" size="large"  class="pr-3" [outlined]="true"> -->
            <!-- </p-button> -->
            <h1>ASTRO Sample App</h1>
        </div>
    </div>
</p-toolbar>
