.p-panel {
    .p-panel-header {
        border-top: $panelHeaderBorder;
        border-left: $panelHeaderBorder;
        border-right: $panelHeaderBorder;
        padding: $panelHeaderPadding;
        background: $panelHeaderBg;
        font-family: $panelHeaderFontFamily;
        font-size: $panelHeaderFontSize;
        font-weight: $panelHeaderFontWeight;

        .p-panel-title {
            font-family: $panelHeaderFontFamily;
            font-size: $panelHeaderFontSize;
            font-weight: $panelHeaderFontWeight;
        }

        .p-panel-header-icon {
            @include action-icon();
        }
    }

    &.p-panel-toggleable {
        .p-panel-header {
            padding: $panelToggleableHeaderPadding;
        }
    }

    .p-panel-content {
        padding: $panelContentPadding;
        border: $panelContentBorder;
        background: $panelContentBg;
        border-top: 0 none;
        font-size: $panelContentFontSize;
        line-height: $panelContentLineHeight;
        letter-spacing: $panelContentLetterSpacing;
    }

    .p-panel-content p {
        margin: 0;
    }

    .p-panel-footer {
        padding: $panelFooterPadding;
        border: $panelFooterBorder;
        background: $panelFooterBg;
        border-top: 0 none;
    }

    .p-panel-icons-end {
        order: 2;
        margin-left: auto;
    }    

    .p-panel-icons-start {
        order: 0;
        margin-right: $inlineSpacing;
    }

    .p-panel-icons-center {
        order: 2;
        width:100%;
        text-align:center;
    }
}
