<p-panel *ngIf="post$ | async as post" [header]="post.title">
  {{ post.body }}
  <p-divider styleClass="py-3" />
  <h3 class="pb-3">Comments</h3>
  <div *ngIf="loading$ | async as loading">
    <div
      *ngFor="let skeleton of skeletons"
      class="border-round border-1 surface-border p-4 surface-card mb-3"
    >
      <p-skeleton
        styleClass="mb-2"
        width="15rem"
        height="2rem"
        styleClass="mb-2"
      ></p-skeleton>
      <p-skeleton width="100%" height="1.875rem"></p-skeleton>
    </div>
  </div>
  <p-accordion [activeIndex]="0" *ngIf="comments$ | async as comments">
    <p-accordionTab [header]="comment.name" *ngFor="let comment of comments">
      <p><strong>Comment: </strong> {{ comment.body }}</p>
      <p><strong>Email: </strong> {{ comment.email }}</p>
    </p-accordionTab>
  </p-accordion>
</p-panel>
